# Accept route advertisements including for other subnets if enabled on interface
$(for nic in /var/lib/iserv/config-ipv6/accept_ra/*
do
  [ -f "$nic" ] || continue
  value="$(cat "$nic")"
  nic="$(basename "$nic")"
  nic="${nic/\./\/}"
  if [ "$value" = "1" ] || [ "$value" = "2" ]
  then
    echo "net.ipv6.conf.$nic.accept_ra_rt_info_max_plen = 128"
    echo "net.ipv6.conf.$nic.accept_ra = $value"
  else
    echo "net.ipv6.conf.$nic.accept_ra = 0"
  fi
done)

